.principal{
    position: absolute;
    width: 353px;
    height: 54px;
    left: 878px;
    top: 39px;
}

.avatar{
    width: 32px;
    height: 32px; 
    border-style: solid;
    border-color: #5570FF;
    border-radius: 15px;
}