<div class="principal">
    <ion-grid class="grid" fixed>
      <ion-row fixed>
        <ion-col>
              
        </ion-col>
      </ion-row>
      <ion-row fixed>
          <ion-col>
            <div class="subtitle-content">
              <ion-label class="path-title" text-wrap>{{subject}}</ion-label>
              <ion-icon src="assets/icon/arrow-right.svg"></ion-icon>
              <ion-label class="path-title-final" text-wrap>{{theme}}</ion-label>
            </div>
          </ion-col>
        </ion-row>

      <ion-row>
          <ion-card class="card">  
              <ion-img src="assets/img/all/tema1.svg" class="img" float-left></ion-img>
              <ion-card-header>
                <ion-card-title class="card-title">Card Title</ion-card-title>
              </ion-card-header>
              <ion-card-content class="card-content">
                Keep close to Nature's heart... and break clear away, once in awhile,
                and climb a mountain or spend a week in the woods. Wash your spirit clean.
              </ion-card-content>
              <ion-button >Leer más</ion-button>
            </ion-card>
      </ion-row>
        
    </ion-grid>
  </div>