.path-title {
    font-family: Muli;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #485CC5;

}
.path-title-final {
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #5570FF;
}

.card {
    //position: absolute;
    width: 366px;
    height: 181px;
}

.card-title {
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.01em;

    color: #4357BF;
}

.card-content {
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.01em;

    color: #334D6E;
}

.img {
    width: 70px;
    height: 70px;
}