<div class="principal">
  <ion-grid >
    <ion-row >
      <ion-img src="assets/img/logo/logo150ppp.png" class="logo"></ion-img>      
    </ion-row>
    <ion-row>
      <ion-col class="titulo">
        <ion-label >{{titulo}}</ion-label>    
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="texto"> 
        <ion-text>{{texto}}</ion-text>           
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-img src="assets/img/ilustraciones/inicioSesion.png" class="ilustracion"></ion-img>      
    </ion-row>

  </ion-grid>

</div>