.principal{
    //position: absolute;
    width: 467px;
    height: 800px;
    border: 0px;
    margin: 0px;
    //left: -20px;
    top: 0px;
    left: 0px;   
    background: #5570FF;
}
.titulo{
    color: floralwhite;
    font-weight: bolder;
    font-size: xx-large;
    margin-top: 250px;
    text-align: center;



}
.texto{
    color: floralwhite;
    margin-top: 20px;
    text-align: center;
}

.logo{
    position: absolute;
    width: 56px;
    height: 79px;
    left: 33px;
    top: 48px;


}

.ilustracion{
    position: absolute;
    width: 667px;
    height: 624px;
    left: -187px;
    top: 272px;   
}