<div>
  <ion-grid >
    <ion-row>
      <ion-col no-padding justify-content-start align-items-start>
        <ion-label class="subtitle">Logros</ion-label>
      </ion-col>
      <ion-col size="auto">
        <ion-button shape="round" fill="outline" class="button" name="seeMorePractice" >
            <ion-label text-capitalize class="buttonFont">Ver más</ion-label>
        </ion-button>
      </ion-col>
  </ion-row>
        <ion-row>
          <ion-col *ngFor="let achievement of achievements ; let i = index" class="col" text-center>
            <ion-row text-center>
              <ion-img src="assets/img/all/medallaPanelControl.svg" class="medalla"></ion-img>  
            </ion-row>
            <ion-row>
              <ion-label class="achievement">{{achievement.name}}</ion-label>
            </ion-row>
            <ion-row>
              <ion-label class="task">{{achievement.task}}</ion-label>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>