.btnRegister{
    //position: absolute;
    width: 215px;
    height: 47px;
}
.btnRegisterLocation{
    top: 30px;
    text-align: center;
}

.optionalText{
    top: 25px;
    text-align: center;
}

.btnLogin{
    top: 11px;
    text-align: center;
}