<div class="bg">
  <ion-grid>
    <ion-row class="labels">
        <ion-label class="title">Bienvenida, Fernanda!</ion-label>
        <ion-label class="question">¿Qué te gustaría aprender hoy?</ion-label>
    </ion-row>
    <ion-row>
      <app-dashboard-recent class="recent"></app-dashboard-recent>
    </ion-row>
    <ion-row>
        <app-dashboard-ranking class="ranking"></app-dashboard-ranking>
        <app-dashboard-achievements class="achievements"></app-dashboard-achievements>
    </ion-row>
  </ion-grid>
</div>
