<div>
  <pre>
  </pre>
  <div class="title">
    <ion-label class="textTitle">{{titulo}}</ion-label>
  </div>
  <ion-grid>
    <ion-row class="userType">
      <ion-col>
        <ion-item>
          <ion-segment (ionChange)="selectForm($event)">
            <ion-segment-button value="Estudiante" checked >
            <ion-label>{{tipo1}}</ion-label>
          </ion-segment-button>

          <ion-segment-button value="Docente">
            <ion-label>{{tipo2}}</ion-label>
          </ion-segment-button>
        </ion-segment>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row >
      <ion-col>
        <app-professor-form nombre="Nombre" genero1="Femenino" genero2="Masculino" fecha="Fecha Nacimiento" especialidad="Especialidad" email="Email" password="Clave" botonRegistro="Registrarse" botonLogin="Iniciar Sesión" (createNewDocenteEvent)="create($event)" (dataColected)="setDataColected($event)" *ngIf="visibleProfessor"></app-professor-form>  
        <app-student-form nombre="Nombre" genero1="Femenino" genero2="Masculino" fecha="Fecha Nacimiento" gradoCurso="Grado de curso" email="Email" institucion="Institución" password="Clave" botonRegistro="Registrarse" botonLogin="Iniciar Sesión" (createNewStudentEvent)="createStudent($event)" (dataColected)="setDataColected($event)" *ngIf="visibleStudent"></app-student-form> 
      </ion-col>
    </ion-row>
  </ion-grid>
  
</div>

