<div class="principal">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src="assets/img/logo/logoMenu.png" class="logo"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-icon></ion-icon>
      <ion-label>{{section1}}</ion-label>
    </ion-row>
    <ion-row>
      <ion-icon></ion-icon>
      <ion-label>{{section2}}</ion-label>
    </ion-row>
    <ion-row>
      <ion-icon></ion-icon>
      <ion-label>{{section3}}</ion-label>
    </ion-row>
    <ion-row>
      <ion-icon></ion-icon>
      <ion-label>{{section4}}</ion-label>
    </ion-row>

  </ion-grid>
</div>
